body {
    display: flex;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 390px;
    min-width: 320px;
    height: 1160px;
    text-align: center;
    background: var(--gris);
    padding: 30px 50px 60px 50px;
}

.header--user-container {
    padding: 0;
    margin-bottom: 80px;
}

.header--user-container .menuHamburg {
    display: none;
}

.header--menu-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header--menu-container h1 {
    margin-bottom: 30px;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--negro);
    align-self: self-start;
}

.header--menu--options-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header--menu--options-container a {
    width: 100%;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--negro);
    text-decoration: none;
    margin-bottom: 10px;
    padding-left: 0;
    text-align: start;
}

.header--menu-container a hr:nth-child(2) {
    margin-top: 5px;
    border: none;
    width: 100%;
    height: 1px;
    background-color: var(--negro);
    opacity: 1;
}

.header--menu--options-container a .img1 {
    width: 40px;
    height: 30px;
    margin-left: 110px;
    opacity: 0.5;
}

.header--menu--options-container a .img2 {
    width: 40px;
    height: 30px;
    margin-left: 120px;
    opacity: 0.5;
}

.header--exit-container {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 668px;
}

.header--exit-container a {
    display: flex;
    width: 100%;
    text-decoration: none;
}

.header--exit-container img {
    width: 40px;
    height: 40px;
}

.header--exit-container h1 {
    margin-top: 6.5px;
    margin-left: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--negro);
}



main {
    padding-top: 48px;
}

.main--sections--botones-container {
    display: flex;
    justify-content: space-between;
}

.agregarEliminarBotones-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.agregarEliminarBotones-container button:nth-child(2) {
    margin-left: 15px;
}

.main--sections--botones-container .guardarBoton {
    width: 155px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--gris);
    padding: 10px;
    font-size: 0.6rem;
    font-weight: 500;
}